#btn-shadow {
  box-shadow: -1px 1px 3px 1px rgba(39, 39, 39, 0.6);
}

@media (max-width: 320px) {
  #btn-shadow {
    font-size: .7em;
  }
}

@media (max-width: 247px) {
  #btn-shadow {
    font-size: .55em;
  }
}

@media (max-width: 247px) {
  #btn-shadow {
    font-size: .50em;
  }
}

a:link, a:visited, a:active {
  text-decoration:none;
}

li {
  list-style: none;
}

#image-scale {
  transform: scaleX(-1);
}
