<span #up></span>
<app-navbar></app-navbar>

<div class="container px-4 pt-1 my-5 text-center">
  <h3 class="display-5 fs-1 fw-bold lh-1 mb-3">Sistemas informáticos</h3>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Un sistema informático puede ayudarte a tomar decisiones personales y comerciales que sean de transformación</p>

  </div>
  <div class="overflow-hidden">
    <div class="container px-5">
      <img src="../../../assets/system.png" class="img-fluid border rounded-3 shadow mb-4" alt="Example image" width="500" height="300" loading="lazy">
    </div>
  </div>
</div>

<div class="bg-secondary text-white">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

      <div class="col-10 col-sm-8 col-lg-6 pt-5">
        <img src="../../../assets/Assessor.png" class="d-block mx-lg-auto img-fluid" id="img-assessor" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>

      <div class="col-lg-6">
        <h3 class="display-5 fs-3 fw-bold lh-1 mb-3">¿Qué necesito saber?</h3>
        <h4 class="fs-6 fw-bold lh-1 mb-3">Para simplificarlo veamos la estructuctura</h4>
        <p>Usuario:</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <ul>
            <li>Persona que utiliza algún sistema informático (ejemplo: computadora, tablet, celular, cámara, etc.) o un servicio de red.</li>
            <li class="pt-2">Tiene objetivos por cumplir ya sean personales o comerciales.</li>
          </ul>
        </div>

        <p>Aplicación:</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <ul>
            <li>Puede ser página web, software de aplicación o aplicación móvil.</li>
          </ul>
        </div>

        <p>Sistema Operativo:</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <ul>
            <li>Operaciones programadas sobre la que se ejecuta el software (ejemplos: Windows, Android, Linux, Apple, etc.).</li>
          </ul>
        </div>

        <p>Hardware:</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <ul>
            <li>Conjunto de componentes necesarios para el funcionamiento del sistema operativo.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Asesoramiento sobre sistemas informáticos</h1>
      <p class="lead">La cantidad y diversidad de productos en el mercado hace que se pierda de vista el objetivo. La idea es ayudarte a ingresar en la estructura y encontrar lo que más se adecúe a tus necesidades.</p>
      <p class="lead">Personalizando el sistema, ya sea para un fin personal o comercial, conseguiras llegar a tus metas e ir por más.</p>
      <p class="lead">Revisaremos cada uno de los elementos y planearemos la experiencia de uso más eficaz y óptima.</p>
    </div>

    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/structure.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="250" height="100" loading="lazy">
    </div>
  </div>
</div>

<div class="container py-5">
  <h3 class="display-5 fs-1 fw-bold lh-1 mb-3 text-center">¿Necesitas asesoramiento?</h3>
</div>

<app-form-system></app-form-system>
<app-button-up (click)='scroll(up)'></app-button-up>
