li {
 list-style: none;
}

#icon-feature {
  filter: invert(100%);
}

#title-velocity {
  margin-top: .3em;
}

#icon-accessibility {
  margin-top: .8em;
}

#icon-seo {
  margin-top: 1em;
}

#shadow-section {
  box-shadow: 0 0 6px 4px rgba( 0, 0, 0, .6);
}
