<app-navbar></app-navbar>

<div class="container col-xxl-8 pt-4 pb-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 pb-5">

    <div class="col-lg-6">
      <h3 class="display-5 fs-1 fw-bold lh-1 mb-3">¿Necesito una pagina web?</h3>
      <h4>La respuesta es sí, impulsa tus ideas hoy...</h4>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <ul>
          <li class="pt-2">✔️ Mayor visibilidad para tu marca o perfil profesional.</li>
          <li class="pt-2">✔️ Procesamiento SEO. Optimización del sitio web entre los motores de búsquedas actuales.</li>
          <li class="pt-2">✔️ Potenciar tu marca o tu perfil profesional sin depender de redes sociales.</li>
        </ul>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/responsive.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

  <div class="bg-secondary">
    <div class="container py-3 row text-white text-center mx-auto">
      <div class="col-lg-3">
        <p class="fw-bold">Responsive</p>
        <p>Diseño adaptado para todos los soportes digitales de la actualidad</p>
      </div>
      <div class="col-lg-3">
        <p class="fw-bold">Diseño UX / UI</p>
        <p>Experiencia e interface pensada en el usuario</p>
      </div>
      <div class="col-lg-3">
        <p class="fw-bold">Intuitivas</p>
        <p>Navegación fluida de principio a fin</p>
      </div>
      <div class="col-lg-3">
        <p class="fw-bold">SEO friendly</p>
        <p>Estrategía digital para mejorar la posición en los motores de búsquedas</p>
      </div>
    </div>
  </div>

<div class="container py-5">
  <h3 class="display-5 fs-1 fw-bold lh-1 mb-3 text-center">Dale vida a tus ideas en el mundo digital</h3>
  <p class="text-center">¿Te decidiste?</p>
  <p class="text-center">Solicita tu cotización personalizada rellenando el siguiente formulario</p>
</div>

<app-form-quote></app-form-quote>

