<app-navbar></app-navbar>

<div class="container col-xxl-8 pt-3 pb-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 pb-5">

    <div class="col-10 col-sm-8 col-lg-6 pt-5">
      <img src="../../../assets/mobile4.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>

    <div class="col-lg-6">
      <h3 class="display-5 fs-2 fw-bold lh-1 mb-3">Diseño UX / UI</h3>
      <h4 class="fs-5">Veamos brevemente que es...</h4>
      <p>Diseño UX (User Experience) o Experiencia del Usuario:</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <ul>
          <li>✔️ Básicamente es cómo una persona se siente mientras usa cualquier producto o servicio digital que tu empresa ofrece.</li>
          <li class="pt-2">✔️ Eso incluye su experiencia con tu sitio web y blog, el sistema online o la aplicación, incluso, si tu negocio no es 100% digital también aplica.</li>
        </ul>
      </div>

      <p>Diseño UI (User Interface) o Interfaz de Usuario:</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <ul>
          <li>✔️ La idea del UI es guiar al usuario por tu aplicación durante el tiempo que él la usa.</li>
          <li class="pt-2">✔️ un buen trabajo de diseño UI te permitirá guiar a los usuarios por la navegación y los llevará a tomar dichas acciones de manera natural.</li>
        </ul>
      </div>

      <p>Lo cierto es que si tu página web o tus redes sociales no están optimizadas, lo más probable es que no cumplas tus objetivos, por lo que puede que necesites una auditoría web.</p>
    </div>
  </div>
</div>

<div class="bg-secondary">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="mx-auto row flex-lg-row-reverse align-items-center rounded g-5 py-5">
      <div class="col-lg-6">
        <h3 class="display-5 fs-3 fw-bold lh-1 mb-3 text-white">¿En qué consiste la auditoría UI / UX?</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <ul>
          <li class="text-white"><img src="../../../assets/check-orange.png" alt="" width="40"> Analisis de tu sitio web o perfil a fondo para detectar errores que pueden estar afectando tu tasa de visitas.</li>
          <li class="text-white"><img src="../../../assets/check-orange.png" alt="" width="40"> Realización un diagnóstico sobre la usabilidad y experiencia de usuario.</li>
          <li class="text-white"><img src="../../../assets/check-orange.png" alt="" width="40"> Revisión de las estrategias SEO On Page implementadas en tu página web o perfil.</li>
          <li class="text-white"><img src="../../../assets/check-orange.png" alt="" width="40"> Entrega de un reporte detallado con todas las sugerencias y correcciones necesarias para que tu página web o perfil estén optimizados para recibir tráfico y posicionarse en los motores de búsqueda.</li>
        </ul>
        </div>
      </div>


      <div class="col-10 col-sm-8 col-lg-6">
          <img class="d-block mx-lg-auto img-fluid" src="../../../assets/ui-ux.png" alt="" >
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <h3 class="display-5 fs-1 fw-bold lh-1 mb-3 text-center">¿Te interesa este servicio?</h3>
</div>

<app-form-audit></app-form-audit>
