<div class="container flex d-flex flex-column">


  <form [formGroup]="form">
    <div>
      <p class="fw-bold">Nombre <span class="text-danger fw-bold">*</span></p>
      <div class="row">
        <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="name" formControlName="name" required />
        <label for="name" class="form-label">Nombre</label>
        <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched" class="alert alert-danger">
          <div *ngIf="form.controls['name'].errors?.['required']">
            El nombre es obligatorio
          </div>
        </div>
      </div>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="last_name" formControlName="last_name" required />
        <label for="last_name" class="form-label">Apellido</label>
        <div *ngIf="form.controls['last_name'].invalid && form.controls['last_name'].touched" class="alert alert-danger">
          <div *ngIf="form.controls['last_name'].errors?.['required']">
            El apellido es obligatorio
          </div>
        </div>
      </div>
      </div>
    </div>

  <div class="pt-4">
    <p class="fw-bold">Correo Electrónico <span class="text-danger fw-bold">*</span></p>
    <input type="email" class="form-control form-control-sm" id="email" formControlName="email" required />
    <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="alert alert-danger mt-2">
      <div *ngIf="form.controls['email'].errors?.['required']">
        El email es obligatorio
      </div>
      <div *ngIf="form.controls['email'].errors?.['email']">
        El email debe contener @
      </div>
    </div>
  </div>

  <div class="pt-4">
    <p class="fw-bold">El sistema informático es:</p>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="personal" formControlName="personal">
      <label class="form-check-label" for="personal">
        Personal
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="comercial" formControlName="comercial">
      <label class="form-check-label" for="comercial">
        Comercial (Negocio)
      </label>
    </div>
  </div>

  <div class="pt-4">
    <p class="fw-bold">Contame un poco acerca de tus objetivos <span class="text-danger fw-bold">*</span></p>
    <div class="form-floating">
      <textarea type="text" name="others" id="others" class="form-control" style="height: 100px" formControlName="others" required ></textarea>
      <div *ngIf="form.controls['others'].invalid && form.controls['others'].touched" class="alert alert-danger mt-2">
        <div *ngIf="form.controls['others'].errors?.['required']">
          Por favor complete sus objetivos con el sistema informático
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-dark btn-lg w-25 mt-4" id="btn-shadow" [disabled]="form.invalid" (click)="dataSystem()">Enviar</button>

</form>

</div>
