<div class="container row pt-3">
  <div class="col-3 mx-auto">
    <div class="row text-center">
    <p>Gaston Gaitan</p>
    <p class="display-1" id="subtitle">diseñador y desarrollador web</p>
  </div>
  </div>
  <div class="col-3 pt-1">
    <a href="https://gaston-gaitan.web.app/"> <button type="button" class="btn btn-primary btn-sm px-4 me-md-2" id="btn-shadow">Mi Web</button></a>
    <a href="https://gaston-gaitan.web.app/"><button type="button" class="btn btn-outline-secondary btn-sm px-4" id="btn-shadow">Servicios</button></a>
  </div>

</div>
<hr class="container mx-auto">

