<div class="container">

  <div class="container col-xxl-8 border-bottom border-2" id="header">
    <div class="row flex-lg-row-reverse align-items-center g-5 ">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../../assets/header.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="450" height="250" id="img-header">
      </div>
      <div class="col-lg-6" id="description-header">
        <h1 class="display-5 fs-1 fw-bold lh-1 mb-3">¡Hola! Soy Gastón Gaitán...</h1>
        <p class="lead">¿Estás buscando ir más allá con tu negocio, marca personal o perfil profesional? Estas en el lugar indicado</p>
        <div class="d-grid gap-2 d-md-flex" id="btn-header">
          <a href="https://gaston-gaitan.web.app/"> <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" id="btn-shadow">Mi Web</button></a>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4 btn-responsive" id="btn-shadow" (click)='scroll(services)'>Servicios</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5 flex d-flex flex-column" #services>
      <h2 class="text-center" >¿En qué puedo ayudarte?</h2>

      <p class="text-center fs-5 pt-4">¿Necesitas una pagina web?</p>
      <button type="button" class="btn btn-dark mx-auto" id="btn-shadow"><a href="/quote" class="text-white">Cotizar tu página web</a></button>

      <p class="text-center fs-5 pt-4">¿Queres saber si tus redes sociales cumplen con los estándares y estrátegias para impulsar tu negocio, marca o perfil?</p>
      <button type="button" class="btn btn-dark mx-auto" id="btn-shadow"><a href="/audit" class="text-white">Auditoría de redes sociales</a></button>

      <p class="text-center fs-5 pt-4">¿Buscas introducir o actualizar servicios informáticos en tu negocio o vida personal?</p>
      <button type="button" class="btn btn-dark  mx-auto" id="btn-shadow"><a href="/system" class="text-white">Asesoramiento sobre sistemas informáticos</a></button>
  </div>

</div>

