<div class="container flex d-flex flex-column">

  <form action="mailto:gaston.gaitan04@gmail.com" method="post" enctype="text/plain">
    <div>
      <p>Nombre <span class="text-danger fw-bold">*</span></p>
      <div class="row">
        <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="name">
        <label for="name" class="form-label">Nombre</label>
      </div>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="last_name">
        <label for="last_name" class="form-label">Apellido</label>
      </div>
      </div>
    </div>

    <div class="pt-4">
      <p>Correo Electrónico <span class="text-danger fw-bold">*</span></p>
      <input type="text" class="form-control form-control-sm">
    </div>

    <div class="pt-4">
      <p>Cuenta de instagram (de tu marca)</p>
      <input type="text" class="form-control form-control-sm" placeholder="@">
    </div>

    <div class="pt-4">
      <p>Página Web</p>
      <input type="text" class="form-control form-control-sm">
    </div>

    <div class="pt-4">
      <p>Comentarios adicionales</p>
      <div class="form-floating">
        <textarea name="others" id="" class="form-control" style="height: 100px"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-dark btn-lg w-25 mt-4" id="btn-shadow">Enviar</button>

  </form>

</div>
