<div class="container flex d-flex flex-column">

  <form [formGroup]="form">
    <div>
      <p>Nombre <span class="text-danger fw-bold">*</span></p>
      <div class="row">
        <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="name" formControlName="name">
        <label for="name" class="form-label">Nombre</label>
      </div>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="last_name" formControlName="last_name">
        <label for="last_name" class="form-label">Apellido</label>
      </div>
      </div>
    </div>

    <div class="pt-4">
      <p>Correo Electrónico <span class="text-danger fw-bold">*</span></p>
      <input type="text" class="form-control form-control-sm" formControlName="email">
    </div>

    <div class="pt-4">
      <p>Cuenta de instagram (de tu marca)</p>
      <input type="text" class="form-control form-control-sm" placeholder="@" formControlName="account">
    </div>

    <div class="pt-4">
      <p>Página Web</p>
      <input type="text" class="form-control form-control-sm" formControlName="website">
    </div>

    <div class="pt-4">
      <p>Comentarios adicionales</p>
      <div class="form-floating">
        <textarea name="others" id="" class="form-control" style="height: 100px" formControlName="others"></textarea>
      </div>
    </div>

    <button type="submit" class="btn btn-dark btn-lg w-25 mt-4" id="btn-shadow" (click)="dataAudit()">Enviar</button>

  </form>

</div>
