<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank" class="nav-link active" href="https://www.instagram.com/gaitan_dev/"><img
        src="../../../assets/instagram.webp" alt="icon-instagram" id="icon-instagram" width="35" height="35"></a></li>
      <li class="nav-item"><a target="_blank" class="nav-link" href="https://www.linkedin.com/in/gaston-gaitan-1a3799205/"><img
        src="../../../assets/linkedin.webp" alt="icon-linkedin" id="icon-linkedin" width="35" height="35"></a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Gaston Gaitan, All Right Reserved</p>
  </footer>

</div>
